/* screen - barb-and-star-crit */

.barb-and-star-crit {
  background-color: transparent;
  background-image: url(../img/barb-and-star-crit@1x.png);
  background-size: 100% 100%;
  height: 2692px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.barb-and-star-crit .a-masterclass-i-wback-to-an-era-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 358px;
  width: 269px;
}
.barb-and-star-crit .about-rotten-to-i70487603142539-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 163px;
}
.barb-and-star-crit .ad-choices-i70487603142530-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 81px;
}
.barb-and-star-crit .advertise-i70487603142544-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 87px;
}
.barb-and-star-crit .allyson-johnson-boston-globe-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 632px;
  white-space: nowrap;
  width: 269px;
}
.barb-and-star-crit .andy-garcia-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 777px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 67px;
}
.barb-and-star-crit .annie-mumolo-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 104px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 81px;
}
.barb-and-star-crit .audience-C61RwL {
  background-color: transparent;
  height: auto;
  left: 248px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 811px;
  width: 109px;
}
.barb-and-star-crit .audience-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 213px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: auto;
}
.barb-and-star-crit .barb-and-star-g-o-vista-del-mar-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 134px;
  width: 288px;
}
.barb-and-star-crit .barb-star-go-to-films-ive-seen-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 269px;
}
.barb-and-star-crit .battery-1Kw3Q0 {
  background-color: transparent;
  height: 10px;
  left: 38px;
  position: absolute;
  top: 8px;
  width: 22px;
}
.barb-and-star-crit .blackvoices-etZmfS {
  background-color: transparent;
  height: 156px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 382px;
}
.barb-and-star-crit .careers-i70487603142538-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 71px;
}
.barb-and-star-crit .cast-Hw8elP {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 49px;
}
.barb-and-star-crit .combined-shape-6dszjN {
  background-color: transparent;
  height: 5px;
  left: 20px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.barb-and-star-crit .critics-C61RwL {
  background-color: transparent;
  height: auto;
  left: 73px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 811px;
  width: 81px;
}
.barb-and-star-crit .damon-wayans-jr-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 651px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 98px;
}
.barb-and-star-crit .director-josh-greenbaum-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 181px;
  width: 236px;
}
.barb-and-star-crit .do-not-sell-my-i70487603142529-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 130px;
}
.barb-and-star-crit .doug-jamieson-the-jam-report-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 269px;
}
.barb-and-star-crit .ej-moreno-ej-moreno-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 316px;
  width: auto;
}
.barb-and-star-crit .ellipse-10-boweid {
  background-color: transparent;
  height: 61px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 644px;
  width: 61px;
}
.barb-and-star-crit .ellipse-4-1AkI9f {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-DxC7QA {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-KhyMPY {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-LpoKeb {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-NglEx0 {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-Th4pic {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-XkyoZ0 {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-aGnIYc {
  background-color: transparent;
  height: 76px;
  left: 888px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-4-hzRFSY {
  background-color: transparent;
  height: 76px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 76px;
}
.barb-and-star-crit .ellipse-5-boweid {
  background-color: transparent;
  height: 61px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 61px;
}
.barb-and-star-crit .ellipse-6-boweid {
  background-color: transparent;
  height: 61px;
  left: 3px;
  position: absolute;
  top: 169px;
  width: 61px;
}
.barb-and-star-crit .ellipse-7-boweid {
  background-color: transparent;
  height: 61px;
  left: 5px;
  position: absolute;
  top: 321px;
  width: 61px;
}
.barb-and-star-crit .ellipse-8-boweid {
  background-color: transparent;
  height: 61px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 484px;
  width: 61px;
}
.barb-and-star-crit .enter-email-i70487603542600-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 87px;
}
.barb-and-star-crit .exclude-gHrsXL {
  background-color: transparent;
  height: 1px;
  left: 167px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.barb-and-star-crit .facebook-new-1-l4XUbi {
  background-color: transparent;
  height: 28px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
.barb-and-star-crit .feedback-i70487603142526-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 86px;
}
.barb-and-star-crit .footer-1vVbzm {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.barb-and-star-crit .frame-34-GidFez {
  background-color: transparent;
  height: 304px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 196px;
  width: 414px;
}
.barb-and-star-crit .frame-35-GidFez {
  background-color: var(--soapstone-2);
  height: 195px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 414px;
}
.barb-and-star-crit .frame-38-Hw8elP {
  background-color: transparent;
  height: 114px;
  left: 0px;
  position: absolute;
  top: 35px;
  width: 379px;
}
.barb-and-star-crit .get-all-of-the-i70487603542604-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: -0.16px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: 360px;
}
.barb-and-star-crit .group-113-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 111px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-114-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 222px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-115-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 330px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-116-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 444px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-117-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 555px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-118-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 666px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-119-LpoKeb {
  background-color: transparent;
  height: 75px;
  left: 777px;
  position: absolute;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .group-136-EjimGv {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-137-EjimGv {
  background-color: transparent;
  height: 154px;
  left: 146px;
  position: absolute;
  top: -0px;
  width: 121px;
}
.barb-and-star-crit .group-138-EjimGv {
  background-color: transparent;
  height: 154px;
  left: 437px;
  position: absolute;
  top: -0px;
  width: 121px;
}
.barb-and-star-crit .group-139-EjimGv {
  background-color: transparent;
  height: 154px;
  left: 291px;
  position: absolute;
  top: -0px;
  width: 121px;
}
.barb-and-star-crit .group-140-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 203px;
  position: absolute;
  top: 80px;
  width: 176px;
}
.barb-and-star-crit .group-141-EjimGv {
  background-color: transparent;
  height: 154px;
  left: 582px;
  position: absolute;
  top: -0px;
  width: 121px;
}
.barb-and-star-crit .group-141-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 40px;
  position: absolute;
  top: 80px;
  width: 143px;
}
.barb-and-star-crit .group-158-FEOR7v {
  background-color: transparent;
  background-image: url(../img/rectangle-27@2x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 216px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}
.barb-and-star-crit .group-161-LQA9zj {
  background-color: transparent;
  height: 97px;
  left: 56px;
  position: absolute;
  top: 9px;
  width: 97px;
}
.barb-and-star-crit .group-168-9xI1Is {
  background-color: transparent;
  height: 114px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 965px;
}
.barb-and-star-crit .group-17-ChFJxo {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-17-MJKgW4 {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-17-bblKAK {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-17-csbE2F {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-17-uUbsrh {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.barb-and-star-crit .group-181-pptnM2 {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 18px;
  width: 268px;
}
.barb-and-star-crit .group-200-LQA9zj {
  background-color: transparent;
  height: 22px;
  left: 0px;
  position: absolute;
  top: 145px;
  width: 358px;
}
.barb-and-star-crit .group-201-C61RwL {
  background-color: transparent;
  height: 343px;
  left: 32px;
  position: absolute;
  top: 417px;
  width: 368px;
}
.barb-and-star-crit .group-202-etZmfS {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 148px;
}
.barb-and-star-crit .group-216-C61RwL {
  background-color: var(--licorice-2);
  border-radius: 4.645746231079102px;
  height: 29px;
  left: 186px;
  position: absolute;
  top: 292px;
  width: 42px;
}
.barb-and-star-crit .group-222-C61RwL {
  background-color: transparent;
  height: 149px;
  left: 32px;
  position: absolute;
  top: 1754px;
  width: 381px;
}
.barb-and-star-crit .group-223-cRuLgm {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}
.barb-and-star-crit .group-224-C61RwL {
  background-color: transparent;
  height: 813px;
  left: 37px;
  position: absolute;
  top: 869px;
  width: 389px;
}
.barb-and-star-crit .group-254-C61RwL {
  background-color: transparent;
  height: 216px;
  left: 32px;
  position: absolute;
  top: 199px;
  width: 354px;
}
.barb-and-star-crit .help-i70487603142524-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 44px;
}
.barb-and-star-crit .however-in-its-star-gets-lost-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 675px;
  width: 269px;
}
.barb-and-star-crit .i-phone-x-11-pro-dark-base-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 334px;
}
.barb-and-star-crit .i-phone-x-11-pro-light-base-OEJqEv {
  background-color: transparent;
  height: 39px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 334px;
}
.barb-and-star-crit .icons8-menu-240-3-1-eBci9D {
  background-color: transparent;
  height: 44px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 47px;
}
.barb-and-star-crit .icons8-search-240-1-eBci9D {
  background-color: transparent;
  height: 33px;
  left: 254px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}
.barb-and-star-crit .instagram-new-1-l4XUbi {
  background-color: transparent;
  height: 36px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 35px;
}
.barb-and-star-crit .it-felt-good-to-brain-and-rule-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 214px;
  width: 269px;
}
.barb-and-star-crit .james-hanton-starburst-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 474px;
  white-space: nowrap;
  width: 269px;
}
.barb-and-star-crit .jamie-dornan-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 217px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 76px;
}
.barb-and-star-crit .kristen-wiig-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 67px;
}
.barb-and-star-crit .laugh-out-loud-lWaoJQ {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 145px;
}
.barb-and-star-crit .left-side-x6Uh93 {
  background-color: transparent;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 11px;
  width: 48px;
}
.barb-and-star-crit .licensing-i70487603142540-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 87px;
}
.barb-and-star-crit .line-10-boweid {
  background-color: transparent;
  height: 1px;
  left: 25px;
  position: absolute;
  top: 624px;
  width: 301px;
}
.barb-and-star-crit .line-11-boweid {
  background-color: transparent;
  height: 1px;
  left: 26px;
  position: absolute;
  top: 784px;
  width: 301px;
}
.barb-and-star-crit .line-12-boweid {
  background-color: transparent;
  height: 1px;
  left: 19px;
  position: absolute;
  top: 149px;
  width: 302px;
}
.barb-and-star-crit .line-8-boweid {
  background-color: transparent;
  height: 1px;
  left: 22px;
  position: absolute;
  top: 306px;
  width: 301px;
}
.barb-and-star-crit .line-9-boweid {
  background-color: transparent;
  height: 1px;
  left: 23px;
  position: absolute;
  top: 466px;
  width: 301px;
}
.barb-and-star-crit .load-more-boweid {
  background-color: transparent;
  height: auto;
  left: 123px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 797px;
  width: 98px;
}
.barb-and-star-crit .mobielfooter-C61RwL {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 2192px;
  width: 414px;
}
.barb-and-star-crit .mobile-signal-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 16px;
}
.barb-and-star-crit .more-C61RwL {
  background-color: transparent;
  height: 192px;
  left: 32px;
  position: absolute;
  top: 1943px;
  width: 382px;
}
.barb-and-star-crit .more-like-this-fn95P9 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 148px;
}
.barb-and-star-crit .moviestrending-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: auto;
}
.barb-and-star-crit .names-LpoKeb {
  background-color: transparent;
  height: 34px;
  left: 5px;
  position: absolute;
  top: 80px;
  width: 960px;
}
.barb-and-star-crit .names-xRUu2x {
  background-color: transparent;
  height: 34px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 978px;
}
.barb-and-star-crit .news-i70487603142525-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 54px;
}
.barb-and-star-crit .notch-gHrsXL {
  background-color: transparent;
  height: 27px;
  left: 69px;
  position: absolute;
  top: -0px;
  width: 196px;
}
.barb-and-star-crit .notch-x6Uh93 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 334px;
}
.barb-and-star-crit .our-critics-i70487603142543-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 101px;
}
.barb-and-star-crit .pg-13-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 9px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 47px;
}
.barb-and-star-crit .phyllis-smith-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 327px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 73px;
}
.barb-and-star-crit .polygon-1-b4TqnM {
  background-color: transparent;
  height: 16px;
  left: 12px;
  position: absolute;
  top: 5px;
  width: 15px;
}
.barb-and-star-crit .privacy-policy-i70487603142527-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 123px;
}
.barb-and-star-crit .quirky-lWaoJQ {
  background-color: transparent;
  height: auto;
  left: 159px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 75px;
}
.barb-and-star-crit .read-more-AVqUkU {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 274px;
  width: 95px;
}
.barb-and-star-crit .read-more-RbOgVL {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 590px;
  width: 95px;
}
.barb-and-star-crit .read-more-XVAnSj {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 432px;
  width: 93px;
}
.barb-and-star-crit .read-more-boweid {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 116px;
  width: 93px;
}
.barb-and-star-crit .read-more-k8OZgu {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 748px;
  width: 95px;
}
.barb-and-star-crit .reba-mc-entire-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 438px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 80px;
}
.barb-and-star-crit .rectangle-15-Gxlr8r {
  background-color: transparent;
  height: 155px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.barb-and-star-crit .rectangle-15-Q43ZB1 {
  background-color: transparent;
  height: 155px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.barb-and-star-crit .rectangle-15-gNxyly {
  background-color: transparent;
  height: 155px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.barb-and-star-crit .rectangle-15-jzxBYA {
  background-color: transparent;
  height: 155px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 122px;
}
.barb-and-star-crit .rectangle-15-tA3Dpv {
  background-color: transparent;
  height: 155px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 122px;
}
.barb-and-star-crit .rectangle-30-UbU4Lz {
  background-color: var(--soapstone);
  border-radius: 20px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 264px;
}
.barb-and-star-crit .rectangle-31-pptnM2 {
  background-color: var(--barossa);
  border-radius: 20px;
  height: 26px;
  left: 302px;
  position: absolute;
  top: 50px;
  width: 88px;
}
.barb-and-star-crit .rectangle-67-C61RwL {
  background-color: var(--black);
  height: 105px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.barb-and-star-crit .rectangle-6dszjN {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 20px;
}
.barb-and-star-crit .rectangle-SMxSSZ {
  background-color: transparent;
  height: 7px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 17px;
}
.barb-and-star-crit .reyn-doi-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 564px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 50px;
}
.barb-and-star-crit .right-side-x6Uh93 {
  background-color: transparent;
  height: 18px;
  left: 262px;
  position: absolute;
  top: 7px;
  width: 59px;
}
.barb-and-star-crit .rotten-tomatoes-i70487603142531-xVMSv5 {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 82px;
}
.barb-and-star-crit .rt-logo-1-eBci9D {
  background-color: transparent;
  height: 1px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 1px;
}
.barb-and-star-crit .rt-logored-1-C61RwL {
  background-color: transparent;
  height: 46px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 91px;
}
.barb-and-star-crit .sign-up-for-our-i70487603542598-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 266px;
}
.barb-and-star-crit .sign-up-i70487603542602-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 317px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 61px;
}
.barb-and-star-crit .social-1vVbzm {
  background-color: transparent;
  height: 39px;
  left: 195px;
  position: absolute;
  top: 216px;
  width: 195px;
}
.barb-and-star-crit .span0-JmD2Uw {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span0-SxDk3s {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span0-Ui3oRw {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span0-aSBW2n {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span0-m7LwRp {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.barb-and-star-crit .span0-oT3J2j {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.barb-and-star-crit .span0-xaxHQF {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span1-JmD2Uw {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span1-SxDk3s {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span1-Ui3oRw {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span1-aSBW2n {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span1-m7LwRp {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.barb-and-star-crit .span1-oT3J2j {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.barb-and-star-crit .span1-xaxHQF {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span2-JmD2Uw {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span2-SxDk3s {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span2-aSBW2n {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .span2-m7LwRp {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
.barb-and-star-crit .span2-xaxHQF {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.barb-and-star-crit .steve-prokopy-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 158px;
  white-space: nowrap;
  width: 127px;
}
.barb-and-star-crit .submit-a-review-i70487603142542-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 113px;
}
.barb-and-star-crit .synopsis-best-f-ip-and-culottes-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 21.6px;
  position: absolute;
  top: 213px;
  width: 342px;
}
.barb-and-star-crit .terms-and-polic-i70487603142528-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 123px;
}
.barb-and-star-crit .third-coast-review-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 178px;
  white-space: nowrap;
  width: 165px;
}
.barb-and-star-crit .this-is-far-fro-is-as-colorful-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 510px;
  width: 269px;
}
.barb-and-star-crit .time-dark-base-8yRYxe {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.barb-and-star-crit .time-light-base-l2lQkM {
  background-color: transparent;
  border-radius: 28.501333236694336px;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.barb-and-star-crit .tomatometer-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 44px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 105px;
  width: auto;
}
.barb-and-star-crit .top-critic-AVqUkU {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 655px;
  width: auto;
}
.barb-and-star-crit .top-critic-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 339px;
  width: auto;
}
.barb-and-star-crit .topnav-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 32px;
  position: absolute;
  top: 49px;
  width: 354px;
}
.barb-and-star-crit .twitter-1-l4XUbi {
  background-color: transparent;
  height: 40px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 35px;
}
.barb-and-star-crit .union-C61RwL {
  background-color: transparent;
  height: 922px;
  left: 21px;
  position: absolute;
  top: 793px;
  width: 372px;
}
.barb-and-star-crit .unsubscribe-at-i70487603542603-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 139px;
  width: 202px;
}
.barb-and-star-crit .untitled-artwork-5-2-LQA9zj {
  background-color: transparent;
  height: 89px;
  left: 205px;
  object-fit: cover;
  position: absolute;
  top: 13px;
  width: 89px;
}
.barb-and-star-crit .untitled-artwork-5-3-boweid {
  background-color: transparent;
  height: 63px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 63px;
}
.barb-and-star-crit .untitled-artwork-5-4-boweid {
  background-color: transparent;
  height: 63px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 231px;
  width: 63px;
}
.barb-and-star-crit .untitled-artwork-5-5-boweid {
  background-color: transparent;
  height: 63px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 63px;
}
.barb-and-star-crit .untitled-artwork-5-6-boweid {
  background-color: transparent;
  height: 64px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 543px;
  width: 63px;
}
.barb-and-star-crit .untitled-artwork-7-1-hWswmi {
  background-color: transparent;
  height: 98px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 98px;
}
.barb-and-star-crit .untitled-artwork-9-2-boweid {
  background-color: transparent;
  height: 72px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 707px;
  width: 72px;
}
.barb-and-star-crit .vanessa-bayer-pE9B35 {
  background-color: transparent;
  height: auto;
  left: 882px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 80px;
}
.barb-and-star-crit .view-all-C61RwL {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1758px;
  width: 67px;
}
.barb-and-star-crit .view-all-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1944px;
  width: 67px;
}
.barb-and-star-crit .whats-the-tomat-i70487603142541-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 164px;
}
.barb-and-star-crit .whimsical-lWaoJQ {
  background-color: transparent;
  height: auto;
  left: 249px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 105px;
}
.barb-and-star-crit .wifi-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: 19px;
  position: absolute;
  top: 8px;
  width: 14px;
}
.barb-and-star-crit .x111-mins-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 142px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 71px;
}
.barb-and-star-crit .x2021-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 309px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 37px;
}
.barb-and-star-crit .x22021-AVqUkU {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 590px;
  width: 58px;
}
.barb-and-star-crit .x22021-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 845px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1710px;
  width: 79px;
}
.barb-and-star-crit .x22021-XVAnSj {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 748px;
  width: 58px;
}
.barb-and-star-crit .x22021-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 432px;
  width: 58px;
}
.barb-and-star-crit .x22121-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 274px;
  width: 58px;
}
.barb-and-star-crit .x22221-boweid {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 116px;
  width: 58px;
}
.barb-and-star-crit .x66-LQA9zj {
  background-color: transparent;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 54px;
  width: 41px;
}
.barb-and-star-crit .x941-TsEUUy {
  background-color: transparent;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 27px;
}
.barb-and-star-crit .youtube-1-l4XUbi {
  background-color: transparent;
  height: 29px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
.border-1-2px-soapstone {
  border: 1.2px solid var(--soapstone);
}
.firasans-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.firasans-bold-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.firasans-light-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.firasans-medium-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.firasans-medium-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.firasans-normal-soapstone-14px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-stack-16px {
  color: var(--stack);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.firasans-semi-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
:root {
  --barossa: rgba(71,5,44,1.0);
  --black: rgba(6,2,5,1.0);
  --black-2: rgba(0,0,0,1.0);
  --licorice: rgba(21,21,21,1.0);
  --licorice-2: rgba(21,21,21,0.1);
  --soapstone: rgba(255,249,252,1.0);
  --soapstone-2: rgba(255,249,252,0.4);
  --stack: rgba(135,139,136,1.0);
  --white: rgba(255,255,255,1.0);
}
