/* screen - movies */

.border-1-2px-soapstone {
  border: 1.2px solid var(--soapstone);
}
.firasans-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.firasans-bold-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.firasans-light-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.firasans-medium-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.firasans-medium-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.firasans-normal-soapstone-14px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-stack-16px {
  color: var(--stack);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.firasans-semi-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.movies {
  background-color: transparent;
  background-image: url(../img/movies@1x.png);
  background-size: 100% 100%;
  height: 1914px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.movies .about-rotten-to-i70485733142539-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 163px;
}
.movies .action-jJ5DCO {
  background-color: transparent;
  height: auto;
  left: 176px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 32px;
  width: auto;
}
.movies .ad-choices-i70485733142530-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 81px;
}
.movies .advertise-i70485733142544-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 87px;
}
.movies .award-a6G6H1 {
  background-color: transparent;
  height: 158px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 382px;
}
.movies .award-winners-ON5lom {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 157px;
}
.movies .awards-C61RwL {
  background-color: transparent;
  height: 194px;
  left: 32px;
  position: absolute;
  top: 787px;
  width: 382px;
}
.movies .battery-1Kw3Q0 {
  background-color: transparent;
  height: 10px;
  left: 38px;
  position: absolute;
  top: 8px;
  width: 22px;
}
.movies .black-C61RwL {
  background-color: transparent;
  height: 194px;
  left: 32px;
  position: absolute;
  top: 1163px;
  width: 382px;
}
.movies .black-voices-0GwD2a {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 131px;
}
.movies .blackvoices-mIXknJ {
  background-color: transparent;
  height: 158px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 382px;
}
.movies .careers-i70485733142538-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 71px;
}
.movies .combined-shape-6dszjN {
  background-color: transparent;
  height: 5px;
  left: 20px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.movies .comedy-jJ5DCO {
  background-color: transparent;
  height: auto;
  left: 27px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 32px;
  width: 96px;
}
.movies .do-not-sell-my-i70485733142529-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 130px;
}
.movies .drama-jJ5DCO {
  background-color: transparent;
  height: auto;
  left: 612px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 32px;
  width: 74px;
}
.movies .enter-email-i70485733542600-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 87px;
}
.movies .exclude-gHrsXL {
  background-color: transparent;
  height: 1px;
  left: 167px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.movies .facebook-new-1-l4XUbi {
  background-color: transparent;
  height: 28px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
.movies .feedback-i70485733142526-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 86px;
}
.movies .footer-1vVbzm {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.movies .frame-34-GidFez {
  background-color: transparent;
  height: 304px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 196px;
  width: 414px;
}
.movies .frame-35-GidFez {
  background-color: var(--soapstone-2);
  height: 195px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 414px;
}
.movies .genre-C61RwL {
  background-color: transparent;
  height: 84px;
  left: 32px;
  overflow: hidden;
  position: absolute;
  top: 671px;
  width: 382px;
}
.movies .genre-Vr0LWn {
  background-color: transparent;
  height: 82px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 36px;
  width: 382px;
}
.movies .get-all-of-the-i70485733542604-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: -0.16px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: 360px;
}
.movies .group-135-gTK56V {
  background-color: transparent;
  height: 82px;
  left: 0px;
  position: relative;
  top: -0px;
  width: 687px;
}
.movies .group-135-jJ5DCO {
  background-color: transparent;
  height: 84px;
  left: 0px;
  position: absolute;
  top: -0px;
  width: 703px;
}
.movies .group-136-Widc8M {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-136-hoPbm9 {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-136-zZcmOx {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.movies .group-137-Widc8M {
  background-color: transparent;
  height: 156px;
  left: 146px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-137-hoPbm9 {
  background-color: transparent;
  height: 156px;
  left: 146px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-137-zZcmOx {
  background-color: transparent;
  height: 154px;
  left: 145px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.movies .group-138-Widc8M {
  background-color: transparent;
  height: 156px;
  left: 439px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-138-hoPbm9 {
  background-color: transparent;
  height: 156px;
  left: 439px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-138-zZcmOx {
  background-color: transparent;
  height: 154px;
  left: 435px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.movies .group-139-Widc8M {
  background-color: transparent;
  height: 156px;
  left: 293px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-139-hoPbm9 {
  background-color: transparent;
  height: 156px;
  left: 292px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-139-zZcmOx {
  background-color: transparent;
  height: 154px;
  left: 290px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.movies .group-140-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 203px;
  position: absolute;
  top: 80px;
  width: 176px;
}
.movies .group-141-Widc8M {
  background-color: transparent;
  height: 156px;
  left: 586px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-141-hoPbm9 {
  background-color: transparent;
  height: 156px;
  left: 585px;
  position: absolute;
  top: 0px;
  width: 122px;
}
.movies .group-141-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 40px;
  position: absolute;
  top: 80px;
  width: 143px;
}
.movies .group-141-zZcmOx {
  background-color: transparent;
  height: 154px;
  left: 580px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.movies .group-167-C61RwL {
  background-color: transparent;
  height: 250px;
  left: -184px;
  position: absolute;
  top: 121px;
  width: 850px;
}
.movies .group-17-Ane4X2 {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-Dht4pn {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-TMd8lL {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-Z7q3ld {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-fgpRf2 {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-hBlbCQ {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.movies .group-17-k3j3A8 {
  background-color: transparent;
  background-image: url(../img/rectangle-15-10@2x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.movies .group-17-kaZ0x7 {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-qSPU30 {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.movies .group-17-riWdhx {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.movies .group-17-riwN4x {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-tNznEH {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-tbAKKi {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-uxhMCy {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 122px;
}
.movies .group-17-vn6eBj {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.movies .group-181-pptnM2 {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 18px;
  width: 268px;
}
.movies .group-182-Sx78oN {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 147px;
}
.movies .group-183-FRC0TU {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 116px;
}
.movies .group-184-a6G6H1 {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 157px;
}
.movies .group-185-Vr0LWn {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 197px;
}
.movies .group-186-mIXknJ {
  background-color: transparent;
  height: 18px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 131px;
}
.movies .group-223-cRuLgm {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}
.movies .help-i70485733142524-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 44px;
}
.movies .horror-jJ5DCO {
  background-color: transparent;
  height: auto;
  left: 462px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 32px;
  width: 72px;
}
.movies .i-phone-x-11-pro-dark-base-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 334px;
}
.movies .i-phone-x-11-pro-light-base-OEJqEv {
  background-color: transparent;
  height: 39px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 334px;
}
.movies .icons8-menu-240-3-1-eBci9D {
  background-color: transparent;
  height: 44px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 47px;
}
.movies .icons8-search-240-1-eBci9D {
  background-color: transparent;
  height: 33px;
  left: 254px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}
.movies .instagram-new-1-l4XUbi {
  background-color: transparent;
  height: 36px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 35px;
}
.movies .left-side-x6Uh93 {
  background-color: transparent;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 11px;
  width: 48px;
}
.movies .licensing-i70485733142540-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 87px;
}
.movies .mobielfooter-C61RwL {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 1414px;
  width: 414px;
}
.movies .mobile-signal-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 16px;
}
.movies .movies-Qrp718 {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 321px;
  letter-spacing: 2.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 92px;
  width: 152px;
}
.movies .news-i70485733142525-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 54px;
}
.movies .notch-gHrsXL {
  background-color: transparent;
  height: 27px;
  left: 69px;
  position: absolute;
  top: -0px;
  width: 196px;
}
.movies .notch-x6Uh93 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 334px;
}
.movies .our-critics-i70485733142543-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 101px;
}
.movies .privacy-policy-i70485733142527-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 123px;
}
.movies .rectangle-15-6iMV0p {
  background-color: transparent;
  height: 157px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 124px;
}
.movies .rectangle-15-AVx3xa {
  background-color: transparent;
  height: 157px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 123px;
}
.movies .rectangle-15-GbENsu {
  background-color: transparent;
  height: 157px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 123px;
}
.movies .rectangle-15-SYbqgL {
  background-color: transparent;
  height: 157px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 123px;
}
.movies .rectangle-15-UN4xZi {
  background-color: transparent;
  height: 157px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 123px;
}
.movies .rectangle-15-UzBoju {
  background-color: transparent;
  height: 157px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 123px;
}
.movies .rectangle-15-VWDOKS {
  background-color: transparent;
  height: 154px;
  left: -1px;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-15-XgVFTw {
  background-color: transparent;
  height: 154px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-15-ZoFDTZ {
  background-color: transparent;
  height: 157px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 124px;
}
.movies .rectangle-15-cbLpxl {
  background-color: transparent;
  height: 154px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-15-fr6EN5 {
  background-color: transparent;
  height: 157px;
  left: -1px;
  position: absolute;
  top: -1px;
  width: 124px;
}
.movies .rectangle-15-nCSETK {
  background-color: transparent;
  height: 157px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 123px;
}
.movies .rectangle-15-tt5Pe6 {
  background-color: transparent;
  height: 157px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 124px;
}
.movies .rectangle-15-zPuPe6 {
  background-color: transparent;
  height: 154px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-16-KxnAGp {
  background-color: transparent;
  height: 85px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-16-REZz37 {
  background-color: transparent;
  height: 95px;
  left: -6px;
  position: absolute;
  top: -6px;
  width: 131px;
}
.movies .rectangle-17-KxnAGp {
  background-color: transparent;
  height: 85px;
  left: 145px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-17-REZz37 {
  background-color: transparent;
  height: 95px;
  left: 136px;
  position: absolute;
  top: -6px;
  width: 131px;
}
.movies .rectangle-18-KxnAGp {
  background-color: transparent;
  height: 85px;
  left: 290px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-18-REZz37 {
  background-color: transparent;
  height: 95px;
  left: 278px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: 131px;
}
.movies .rectangle-19-KxnAGp {
  background-color: transparent;
  height: 85px;
  left: 436px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-19-REZz37 {
  background-color: transparent;
  height: 95px;
  left: 420px;
  position: absolute;
  top: -6px;
  width: 131px;
}
.movies .rectangle-21-KxnAGp {
  background-color: transparent;
  height: 85px;
  left: 581px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 122px;
}
.movies .rectangle-21-REZz37 {
  background-color: transparent;
  height: 95px;
  left: 563px;
  object-fit: cover;
  position: absolute;
  top: -6px;
  width: 131px;
}
.movies .rectangle-30-UbU4Lz {
  background-color: var(--soapstone);
  border-radius: 20px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 264px;
}
.movies .rectangle-31-pptnM2 {
  background-color: var(--barossa);
  border-radius: 20px;
  height: 26px;
  left: 302px;
  position: absolute;
  top: 50px;
  width: 88px;
}
.movies .rectangle-52-Qrp718 {
  background-color: transparent;
  height: 276px;
  left: -13px;
  position: absolute;
  top: -13px;
  width: 874px;
}
.movies .rectangle-53-Qrp718 {
  background-color: transparent;
  border-radius: 11.08962631225586px;
  height: 250px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 848px;
}
.movies .rectangle-67-C61RwL {
  background-color: var(--black);
  height: 105px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.movies .rectangle-6dszjN {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 20px;
}
.movies .rectangle-SMxSSZ {
  background-color: transparent;
  height: 7px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 17px;
}
.movies .right-side-x6Uh93 {
  background-color: transparent;
  height: 18px;
  left: 262px;
  position: absolute;
  top: 7px;
  width: 59px;
}
.movies .romance-jJ5DCO {
  background-color: transparent;
  height: auto;
  left: 311px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 32px;
  width: 82px;
}
.movies .rotten-tomatoes-i70485733142531-xVMSv5 {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 82px;
}
.movies .rt-logo-1-eBci9D {
  background-color: transparent;
  height: 45px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 90px;
}
.movies .rt-logored-1-C61RwL {
  background-color: transparent;
  height: 46px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 91px;
}
.movies .sign-up-for-our-i70485733542598-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 266px;
}
.movies .sign-up-i70485733542602-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 317px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 61px;
}
.movies .social-1vVbzm {
  background-color: transparent;
  height: 39px;
  left: 195px;
  position: absolute;
  top: 216px;
  width: 195px;
}
.movies .streaming-C61RwL {
  background-color: transparent;
  height: 118px;
  left: 32px;
  position: absolute;
  top: 1013px;
  width: 382px;
}
.movies .streaming-services-VZ7hyY {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 197px;
}
.movies .submit-a-review-i70485733142542-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 113px;
}
.movies .terms-and-polic-i70485733142528-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 123px;
}
.movies .time-dark-base-8yRYxe {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.movies .time-light-base-l2lQkM {
  background-color: transparent;
  border-radius: 28.501333236694336px;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.movies .top-genres-FANiiN {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 116px;
}
.movies .topgenres-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 32px;
  position: absolute;
  top: 635px;
  width: 114px;
}
.movies .topnav-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 32px;
  position: absolute;
  top: 49px;
  width: 354px;
}
.movies .trending-C61RwL {
  background-color: transparent;
  height: 192px;
  left: 32px;
  position: absolute;
  top: 411px;
  width: 382px;
}
.movies .trending-Sx78oN {
  background-color: transparent;
  height: 156px;
  left: 0px;
  position: absolute;
  top: 36px;
  width: 382px;
}
.movies .trending-now-VuQlZx {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 147px;
}
.movies .twitter-1-l4XUbi {
  background-color: transparent;
  height: 40px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 35px;
}
.movies .unsubscribe-at-i70485733542603-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 139px;
  width: 202px;
}
.movies .view-all-2P4qUJ {
  background-color: transparent;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1167px;
  width: 68px;
}
.movies .view-all-C61RwL {
  background-color: transparent;
  height: auto;
  left: 329px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 415px;
  width: 68px;
}
.movies .view-all-QxM5SU {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1017px;
  width: 68px;
}
.movies .view-all-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 639px;
  width: 68px;
}
.movies .view-all-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 788px;
  width: 68px;
}
.movies .whats-the-tomat-i70485733142541-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 164px;
}
.movies .wifi-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: 19px;
  position: absolute;
  top: 8px;
  width: 14px;
}
.movies .x941-TsEUUy {
  background-color: transparent;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 27px;
}
.movies .youtube-1-l4XUbi {
  background-color: transparent;
  height: 29px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
:root {
  --barossa: rgba(71,5,44,1.0);
  --black: rgba(6,2,5,1.0);
  --black-2: rgba(0,0,0,1.0);
  --licorice: rgba(21,21,21,1.0);
  --licorice-2: rgba(21,21,21,0.1);
  --soapstone: rgba(255,249,252,1.0);
  --soapstone-2: rgba(255,249,252,0.4);
  --stack: rgba(135,139,136,1.0);
  --white: rgba(255,255,255,1.0);
}
