/* screen - tomatometer */

.border-1-2px-soapstone {
  border: 1.2px solid var(--soapstone);
}
.firasans-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.firasans-bold-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.firasans-light-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.firasans-medium-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.firasans-medium-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.firasans-normal-soapstone-14px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-stack-16px {
  color: var(--stack);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.firasans-semi-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.tomatometer {
  background-color: transparent;
  background-image: url(../img/tomatometer@1x.png);
  background-size: 100% 100%;
  height: 1777px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.tomatometer .a-movie-needs-a-not-be-out-yet-FXX1ZD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 121px;
  width: 343px;
}
.tomatometer .about-rotten-to-i70495273142539-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 163px;
}
.tomatometer .ad-choices-i70495273142530-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 81px;
}
.tomatometer .advertise-i70495273142544-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 87px;
}
.tomatometer .battery-1Kw3Q0 {
  background-color: transparent;
  height: 10px;
  left: 38px;
  position: absolute;
  top: 8px;
  width: 22px;
}
.tomatometer .browse-movies-C61RwL {
  background-color: transparent;
  color: var(--black-2);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 50px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1192px;
  width: 124px;
}
.tomatometer .browse-tv-C61RwL {
  background-color: transparent;
  color: var(--black-2);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 255px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1192px;
  width: 85px;
}
.tomatometer .careers-i70495273142538-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 71px;
}
.tomatometer .certified-fresh-PXn7xL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 117px;
  width: 113px;
}
.tomatometer .combined-shape-6dszjN {
  background-color: transparent;
  height: 5px;
  left: 20px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.tomatometer .do-not-sell-my-i70495273142529-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 130px;
}
.tomatometer .enter-email-i70495273542600-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 87px;
}
.tomatometer .exclude-gHrsXL {
  background-color: transparent;
  height: 1px;
  left: 167px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.tomatometer .facebook-new-1-l4XUbi {
  background-color: transparent;
  height: 28px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
.tomatometer .feedback-i70495273142526-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 86px;
}
.tomatometer .footer-1vVbzm {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.tomatometer .frame-34-GidFez {
  background-color: transparent;
  height: 304px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 196px;
  width: 414px;
}
.tomatometer .frame-35-GidFez {
  background-color: var(--soapstone-2);
  height: 195px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 414px;
}
.tomatometer .fresh-PXn7xL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 139px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 73px;
}
.tomatometer .get-all-of-the-i70495273542604-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: -0.16px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: 360px;
}
.tomatometer .group-140-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 203px;
  position: absolute;
  top: 80px;
  width: 176px;
}
.tomatometer .group-141-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 40px;
  position: absolute;
  top: 80px;
  width: 143px;
}
.tomatometer .group-169-C61RwL {
  background-color: transparent;
  height: 650px;
  left: 32px;
  position: absolute;
  top: 432px;
  width: 351px;
}
.tomatometer .group-170-C61RwL {
  background-color: transparent;
  height: 174px;
  left: 32px;
  position: absolute;
  top: 236px;
  width: 347px;
}
.tomatometer .group-181-pptnM2 {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 18px;
  width: 268px;
}
.tomatometer .group-223-cRuLgm {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}
.tomatometer .help-i70495273142524-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 44px;
}
.tomatometer .i-phone-x-11-pro-dark-base-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 334px;
}
.tomatometer .i-phone-x-11-pro-light-base-OEJqEv {
  background-color: transparent;
  height: 39px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 334px;
}
.tomatometer .icons8-menu-240-3-1-eBci9D {
  background-color: transparent;
  height: 44px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 47px;
}
.tomatometer .icons8-search-240-1-eBci9D {
  background-color: transparent;
  height: 33px;
  left: 254px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}
.tomatometer .in-addition-to-ust-not-out-yet-FXX1ZD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 452px;
  width: 343px;
}
.tomatometer .instagram-new-1-l4XUbi {
  background-color: transparent;
  height: 36px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 35px;
}
.tomatometer .left-side-x6Uh93 {
  background-color: transparent;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 11px;
  width: 48px;
}
.tomatometer .licensing-i70495273142540-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 87px;
}
.tomatometer .mobielfooter-C61RwL {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 1277px;
  width: 414px;
}
.tomatometer .mobile-signal-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 16px;
}
.tomatometer .news-i70495273142525-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 54px;
}
.tomatometer .notch-gHrsXL {
  background-color: transparent;
  height: 27px;
  left: 69px;
  position: absolute;
  top: -0px;
  width: 196px;
}
.tomatometer .notch-x6Uh93 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 334px;
}
.tomatometer .now-that-youre-start-watching-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1098px;
  width: 334px;
}
.tomatometer .now-what-if-you-mean-i-will-too-FXX1ZD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 370px;
  width: 343px;
}
.tomatometer .our-critics-i70495273142543-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 101px;
}
.tomatometer .privacy-policy-i70495273142527-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 123px;
}
.tomatometer .rectangle-3-C61RwL {
  background-color: var(--soapstone);
  border-radius: 25px;
  height: 40px;
  left: 33px;
  position: absolute;
  top: 1180px;
  width: 155px;
}
.tomatometer .rectangle-30-UbU4Lz {
  background-color: var(--soapstone);
  border-radius: 20px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 264px;
}
.tomatometer .rectangle-31-pptnM2 {
  background-color: var(--barossa);
  border-radius: 20px;
  height: 26px;
  left: 302px;
  position: absolute;
  top: 50px;
  width: 88px;
}
.tomatometer .rectangle-4-C61RwL {
  background-color: var(--soapstone);
  border-radius: 25px;
  height: 40px;
  left: 219px;
  position: absolute;
  top: 1180px;
  width: 155px;
}
.tomatometer .rectangle-67-C61RwL {
  background-color: var(--black);
  height: 105px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.tomatometer .rectangle-6dszjN {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 20px;
}
.tomatometer .rectangle-SMxSSZ {
  background-color: transparent;
  height: 7px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 17px;
}
.tomatometer .right-side-x6Uh93 {
  background-color: transparent;
  height: 18px;
  left: 262px;
  position: absolute;
  top: 7px;
  width: 59px;
}
.tomatometer .rotten-PXn7xL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 117px;
  width: 89px;
}
.tomatometer .rotten-tomatoes-i70495273142531-xVMSv5 {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 82px;
}
.tomatometer .rt-logo-1-eBci9D {
  background-color: transparent;
  height: 1px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 1px;
}
.tomatometer .rt-logored-1-C61RwL {
  background-color: transparent;
  height: 46px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 91px;
}
.tomatometer .see-a-score-of-sider-it-rotten-FXX1ZD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 0px;
  width: 343px;
}
.tomatometer .sign-up-for-our-i70495273542598-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 266px;
}
.tomatometer .sign-up-i70495273542602-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 317px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 61px;
}
.tomatometer .social-1vVbzm {
  background-color: transparent;
  height: 39px;
  left: 195px;
  position: absolute;
  top: 216px;
  width: 195px;
}
.tomatometer .span0-CmnYuc {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span0-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span0-fGE3xP {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span1-CmnYuc {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span1-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span1-fGE3xP {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span2-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span3-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span4-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span5-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span6-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span7-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span8-IuOWwz {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .submit-a-review-i70495273142542-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 113px;
}
.tomatometer .terms-and-polic-i70495273142528-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 123px;
}
.tomatometer .the-tomatometer-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 118px;
  width: 223px;
}
.tomatometer .the-tomatometer-trusted-critics-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 335px;
}
.tomatometer .time-dark-base-8yRYxe {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.tomatometer .time-light-base-l2lQkM {
  background-color: transparent;
  border-radius: 28.501333236694336px;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.tomatometer .topnav-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 32px;
  position: absolute;
  top: 49px;
  width: 354px;
}
.tomatometer .twitter-1-l4XUbi {
  background-color: transparent;
  height: 40px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 35px;
}
.tomatometer .unsubscribe-at-i70495273542603-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 139px;
  width: 202px;
}
.tomatometer .untitled-artwork-5-5-PXn7xL {
  background-color: transparent;
  height: 100px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 100px;
}
.tomatometer .untitled-artwork-7-3-PXn7xL {
  background-color: transparent;
  height: 110px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 110px;
}
.tomatometer .untitled-artwork-9-4-PXn7xL {
  background-color: transparent;
  height: 112px;
  left: 229px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 112px;
}
.tomatometer .whats-the-tomat-i70495273142541-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 164px;
}
.tomatometer .when-a-movie-co-equired-viewing-FXX1ZD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 225px;
  width: 343px;
}
.tomatometer .wifi-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: 19px;
  position: absolute;
  top: 8px;
  width: 14px;
}
.tomatometer .x941-TsEUUy {
  background-color: transparent;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 27px;
}
.tomatometer .youtube-1-l4XUbi {
  background-color: transparent;
  height: 29px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
:root {
  --barossa: rgba(71,5,44,1.0);
  --black: rgba(6,2,5,1.0);
  --black-2: rgba(0,0,0,1.0);
  --licorice: rgba(21,21,21,1.0);
  --licorice-2: rgba(21,21,21,0.1);
  --soapstone: rgba(255,249,252,1.0);
  --soapstone-2: rgba(255,249,252,0.4);
  --stack: rgba(135,139,136,1.0);
  --white: rgba(255,255,255,1.0);
}
