/* screen - tomatometer */

.firasans-bold-soapstone-28px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.firasans-medium-soapstone-24px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.firasans-normal-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.firasans-semi-bold-soapstone-32px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
}
.tomatometer {
  background-color: transparent;
  background-image: url(../img/tomatometer@1x.png);
  background-size: 100% 100%;
  height: 1828px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1440px;
}
.tomatometer .a-movie-needs-a-not-be-out-yet-C61RwL {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 449px;
  width: 749px;
}
.tomatometer .about-rotten-to-i74398274171578-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 225px;
}
.tomatometer .ad-choices-i74398274171576-FR3M0S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 133px;
  width: 105px;
}
.tomatometer .advertise-i74398274171583-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 187px;
  width: 87px;
}
.tomatometer .browse-movies-royatl {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 39px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 123px;
}
.tomatometer .browse-tv-ZnSQrh {
  background-color: transparent;
  color: rgba(0,0,0,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 57px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 88px;
}
.tomatometer .careers-i74398274171567-oCc29T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: 74px;
}
.tomatometer .certified-fresh-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1112px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 288px;
  width: 256px;
}
.tomatometer .do-not-sell-my-i74398274171575-FR3M0S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 86px;
  width: 183px;
}
.tomatometer .facebook-new-1-Z5w9Cx {
  background-color: transparent;
  height: 40px;
  left: 156px;
  object-fit: cover;
  position: absolute;
  top: 7px;
  width: 50px;
}
.tomatometer .feedback-i74398274171569-oCc29T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 90px;
}
.tomatometer .follow-us-i74398274171571-xG8o79 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 93px;
}
.tomatometer .foot-iPe1yZ {
  background-color: rgba(255,249,252,0.4);
  height: 347px;
  left: -1px;
  position: absolute;
  top: 1px;
  width: 1440px;
}
.tomatometer .footer-C61RwL {
  background-color: transparent;
  height: 701px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 1127px;
  width: 1440px;
}
.tomatometer .frame-30-cRuLgm {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 1285px;
}
.tomatometer .fresh-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1110px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 497px;
  width: 105px;
}
.tomatometer .get-all-of-the-i74398274171561-vIO9jK {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.tomatometer .group-102-iPe1yZ {
  background-color: transparent;
  height: 262px;
  left: 340px;
  position: absolute;
  top: 388px;
  width: 249px;
}
.tomatometer .group-104-iPe1yZ {
  background-color: transparent;
  height: 152px;
  left: 821px;
  position: absolute;
  top: 385px;
  width: 189px;
}
.tomatometer .group-105-iPe1yZ {
  background-color: transparent;
  height: 153px;
  left: 652px;
  position: absolute;
  top: 389px;
  width: 96px;
}
.tomatometer .group-141-yjzgNB {
  background-color: transparent;
  height: 60px;
  left: 0px;
  position: absolute;
  top: 142px;
  width: 774px;
}
.tomatometer .group-142-96tGoM {
  background-color: transparent;
  height: 48px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 199px;
}
.tomatometer .group-142-yjzgNB {
  background-color: transparent;
  height: 48px;
  left: 11px;
  position: absolute;
  top: 62px;
  width: 761px;
}
.tomatometer .group-142-zxDZGC {
  background-color: transparent;
  height: 48px;
  left: 562px;
  position: absolute;
  top: 0px;
  width: 199px;
}
.tomatometer .group-170-ZxLWy4 {
  background-color: transparent;
  height: 66px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 1291px;
}
.tomatometer .group-30-yjzgNB {
  background-color: transparent;
  height: 48px;
  left: 11px;
  position: absolute;
  top: 62px;
  width: 761px;
}
.tomatometer .group-31-Nuwx1X {
  background-color: transparent;
  height: 202px;
  left: 333px;
  position: relative;
  top: 67px;
  width: 772px;
}
.tomatometer .group-8-iPe1yZ {
  background-color: transparent;
  height: 56px;
  left: 1078px;
  position: absolute;
  top: 424px;
  width: 284px;
}
.tomatometer .group-91-iPe1yZ {
  background-color: transparent;
  height: 25px;
  left: 1078px;
  position: absolute;
  top: 383px;
  width: 93px;
}
.tomatometer .group-92-MteJUS {
  background-color: transparent;
  height: 39px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 102px;
}
.tomatometer .group-97-MteJUS {
  background-color: transparent;
  height: 39px;
  left: 196px;
  position: absolute;
  top: 0px;
  width: 102px;
}
.tomatometer .group-98-3xHm95 {
  background-color: transparent;
  height: 39px;
  left: 989px;
  position: absolute;
  top: 12px;
  width: 296px;
}
.tomatometer .group-98-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 911px;
  position: absolute;
  top: 938px;
  width: 202px;
}
.tomatometer .group-99-C61RwL {
  background-color: transparent;
  height: 40px;
  left: 1168px;
  position: absolute;
  top: 938px;
  width: 202px;
}
.tomatometer .help-i74398274171566-oCc29T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 132px;
  width: 46px;
}
.tomatometer .icons8-search-240-1-MteJUS {
  background-color: transparent;
  height: 40px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 41px;
}
.tomatometer .in-addition-to-ust-not-out-yet-C61RwL {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 706px;
  width: 758px;
}
.tomatometer .instagram-new-1-iPe1yZ {
  background-color: transparent;
  height: 50px;
  left: 1161px;
  object-fit: cover;
  position: absolute;
  top: 427px;
  width: 51px;
}
.tomatometer .licensing-i74398274171579-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 234px;
  width: 87px;
}
.tomatometer .log-in-i74398285205250-Rg99xF {
  background-color: transparent;
  color: rgba(21,21,21,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 25px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 52px;
}
.tomatometer .movies-i74398285205244-3xHm95 {
  background-color: transparent;
  height: auto;
  left: 230px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 99px;
}
.tomatometer .news-i74398274171568-oCc29T {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 88px;
  width: 56px;
}
.tomatometer .now-that-youre-start-watching-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 946px;
  width: 726px;
}
.tomatometer .now-what-if-you-mean-i-will-too-C61RwL {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 626px;
  width: 758px;
}
.tomatometer .our-critics-i74398274171582-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 101px;
}
.tomatometer .privacy-policy-i74398274171573-FR3M0S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 133px;
}
.tomatometer .rectangle-3-Rg99xF {
  background-color: var(--soapstone);
  border-radius: 24px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100px;
}
.tomatometer .rectangle-3-ZnSQrh {
  background-color: var(--soapstone);
  border-radius: 23px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}
.tomatometer .rectangle-3-royatl {
  background-color: var(--soapstone);
  border-radius: 23px;
  height: 40px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 200px;
}
.tomatometer .rectangle-30-96tGoM {
  background-color: var(--soapstone);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 537px;
}
.tomatometer .rectangle-30-zxDZGC {
  background-color: var(--soapstone);
  border-radius: 28px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 537px;
}
.tomatometer .rectangle-31-3MywgV {
  background-color: rgba(63,8,43,1.0);
  border-radius: 24px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 197px;
}
.tomatometer .rectangle-31-zH1Hpp {
  background-color: rgba(26,2,42,1.0);
  border-radius: 29px;
  height: 48px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 197px;
}
.tomatometer .rectangle-4-9nTUmx {
  background-color: var(--soapstone);
  border-radius: 24px;
  height: 39px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100px;
}
.tomatometer .rotten-C61RwL {
  background-color: transparent;
  height: auto;
  left: 1112px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 725px;
  width: 119px;
}
.tomatometer .rotten-tomatoes-i74398274171584-iPe1yZ {
  background-color: transparent;
  height: auto;
  left: 58px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 383px;
  width: 190px;
}
.tomatometer .rt-logo-1-3xHm95 {
  background-color: transparent;
  height: 1px;
  left: 66px;
  object-fit: cover;
  position: absolute;
  top: 33px;
  width: 1px;
}
.tomatometer .rt-logored-1-ZxLWy4 {
  background-color: transparent;
  height: 66px;
  left: -1px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 133px;
}
.tomatometer .see-a-score-of-sider-it-rotten-C61RwL {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 350px;
  width: 758px;
}
.tomatometer .sign-up-for-our-i74398274171547-yjzgNB {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 229px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: auto;
}
.tomatometer .sign-up-i74398274171553-zH1Hpp {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.tomatometer .sign-up-i74398274171559-3MywgV {
  background-color: transparent;
  height: auto;
  left: 56px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 9px;
  width: auto;
}
.tomatometer .sign-up-i74398285205253-9nTUmx {
  background-color: transparent;
  color: rgba(21,21,21,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 20px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 12px;
  width: 62px;
}
.tomatometer .span0-JxMHrr {
  color: rgba(255,249,252,1.0);
  font-style: normal;
}
.tomatometer .span0-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span0-o9mHbc {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span1-JxMHrr {
  color: rgba(255,249,252,1.0);
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span1-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span1-o9mHbc {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span2-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span3-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span4-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span5-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span6-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .span7-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tomatometer .span8-fd3rP0 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.tomatometer .submit-a-review-i74398274171581-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 91px;
  width: 155px;
}
.tomatometer .terms-and-polic-i74398274171574-FR3M0S {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: 183px;
}
.tomatometer .the-tomatometer-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 179px;
  width: 522px;
}
.tomatometer .the-tomatometer-trusted-critics-C61RwL {
  background-color: transparent;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 260px;
  width: 705px;
}
.tomatometer .topnav-C61RwL {
  background-color: transparent;
  height: 66px;
  left: 77px;
  position: absolute;
  top: 59px;
  width: 1285px;
}
.tomatometer .tv-i74398285205245-3xHm95 {
  background-color: transparent;
  height: auto;
  left: 412px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 35px;
}
.tomatometer .twitter-1-Z5w9Cx {
  background-color: transparent;
  height: 57px;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 50px;
}
.tomatometer .type-your-email-i74398274171550-zxDZGC {
  background-color: transparent;
  color: rgba(0,0,0,0.58);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}
.tomatometer .type-your-email-i74398274171556-96tGoM {
  background-color: transparent;
  color: rgba(21,21,21,0.6);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 13px;
  width: auto;
}
.tomatometer .unsubscribe-at-i74398274171562-vIO9jK {
  background-color: transparent;
  height: auto;
  left: 146px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: auto;
}
.tomatometer .untitled-artwork-5-4-C61RwL {
  background-color: transparent;
  height: 150px;
  left: 940px;
  object-fit: cover;
  position: absolute;
  top: 438px;
  width: 150px;
}
.tomatometer .untitled-artwork-7-2-C61RwL {
  background-color: transparent;
  height: 163px;
  left: 933px;
  object-fit: cover;
  position: absolute;
  top: 220px;
  width: 163px;
}
.tomatometer .untitled-artwork-9-3-C61RwL {
  background-color: transparent;
  height: 180px;
  left: 930px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 180px;
}
.tomatometer .whats-the-tomat-i74398274171580-fie9Eg {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 43px;
  width: 239px;
}
.tomatometer .whats-the-tomat-i74398285205246-3xHm95 {
  background-color: transparent;
  height: auto;
  left: 529px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 15px;
  width: 363px;
}
.tomatometer .when-a-movie-co-equired-viewing-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 82px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 521px;
  width: 758px;
}
.tomatometer .youtube-1-Z5w9Cx {
  background-color: transparent;
  height: 40px;
  left: 234px;
  object-fit: cover;
  position: absolute;
  top: 9px;
  width: 50px;
}
:root {
  --soapstone: rgba(255,249,252,1.0);
}
