/* screen - yourhonrcritc */

.border-1-2px-soapstone {
  border: 1.2px solid var(--soapstone);
}
.firasans-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}
.firasans-bold-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.firasans-light-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
.firasans-medium-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
.firasans-medium-soapstone-20px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}
.firasans-normal-soapstone-14px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-16px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.firasans-normal-stack-16px {
  color: var(--stack);
  font-family: 'Fira Sans', Helvetica;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
}
.firasans-semi-bold-soapstone-18px {
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.yourhonrcritc {
  background-color: transparent;
  background-image: url(../img/yourhonrcritc@1x.svg);
  background-size: 100% 100%;
  height: 2646px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 414px;
}
.yourhonrcritc .about-rotten-to-i70490203142539-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 163px;
}
.yourhonrcritc .ad-choices-i70490203142530-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 81px;
}
.yourhonrcritc .advertise-i70490203142544-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 87px;
}
.yourhonrcritc .amy-landecker-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 667px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 85px;
}
.yourhonrcritc .audience-C61RwL {
  background-color: transparent;
  height: auto;
  left: 244px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 519px;
  width: auto;
}
.yourhonrcritc .audience-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 761px;
  width: 99px;
}
.yourhonrcritc .battery-1Kw3Q0 {
  background-color: transparent;
  height: 10px;
  left: 38px;
  position: absolute;
  top: 8px;
  width: 22px;
}
.yourhonrcritc .ben-travers-indie-wire-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 474px;
  white-space: nowrap;
  width: 269px;
}
.yourhonrcritc .blackvoices-C61RwL {
  background-color: transparent;
  height: 156px;
  left: 32px;
  overflow: hidden;
  position: absolute;
  top: 1932px;
  width: 382px;
}
.yourhonrcritc .bryan-cranston-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 85px;
}
.yourhonrcritc .careers-i70490203142538-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 71px;
}
.yourhonrcritc .carmen-ejogo-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 334px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 77px;
}
.yourhonrcritc .cast-EXCiPW {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 54px;
}
.yourhonrcritc .chicago-sun-times-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 76px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 178px;
  white-space: nowrap;
  width: 187px;
}
.yourhonrcritc .combined-shape-6dszjN {
  background-color: transparent;
  height: 5px;
  left: 20px;
  position: absolute;
  top: 3px;
  width: 2px;
}
.yourhonrcritc .critics-C61RwL {
  background-color: transparent;
  height: auto;
  left: 72px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 761px;
  width: 81px;
}
.yourhonrcritc .dan-jackson-thrillist-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 0px;
  white-space: nowrap;
  width: 269px;
}
.yourhonrcritc .dark-6Du0CD {
  background-color: transparent;
  height: auto;
  left: 108px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 62px;
}
.yourhonrcritc .despite-an-evoc-too-methodical-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 36px;
  width: 269px;
}
.yourhonrcritc .do-not-sell-my-i70490203142529-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 130px;
}
.yourhonrcritc .egde-of-your-seat-6Du0CD {
  background-color: transparent;
  height: auto;
  left: 185px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 169px;
}
.yourhonrcritc .ellipse-10-rHRxZV {
  background-color: transparent;
  height: 61px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 641px;
  width: 61px;
}
.yourhonrcritc .ellipse-5-rHRxZV {
  background-color: transparent;
  height: 61px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 4px;
  width: 61px;
}
.yourhonrcritc .ellipse-6-rHRxZV {
  background-color: transparent;
  height: 61px;
  left: 3px;
  object-fit: cover;
  position: absolute;
  top: 169px;
  width: 61px;
}
.yourhonrcritc .ellipse-7-rHRxZV {
  background-color: transparent;
  height: 61px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 321px;
  width: 61px;
}
.yourhonrcritc .ellipse-8-rHRxZV {
  background-color: transparent;
  height: 62px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 484px;
  width: 61px;
}
.yourhonrcritc .enter-email-i70490203542600-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 35px;
  width: 87px;
}
.yourhonrcritc .exclude-gHrsXL {
  background-color: transparent;
  height: 1px;
  left: 167px;
  position: absolute;
  top: 21px;
  width: 1px;
}
.yourhonrcritc .facebook-new-1-l4XUbi {
  background-color: transparent;
  height: 28px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
.yourhonrcritc .feedback-i70490203142526-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 111px;
  width: 86px;
}
.yourhonrcritc .footer-1vVbzm {
  background-color: transparent;
  height: 500px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.yourhonrcritc .frame-34-GidFez {
  background-color: transparent;
  height: 304px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 196px;
  width: 414px;
}
.yourhonrcritc .frame-35-GidFez {
  background-color: var(--soapstone-2);
  height: 195px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: -0px;
  width: 414px;
}
.yourhonrcritc .frame-39-EXCiPW {
  background-color: transparent;
  height: 112px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 389px;
}
.yourhonrcritc .get-all-of-the-i70490203542604-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: -0.16px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 94px;
  width: 360px;
}
.yourhonrcritc .group-120-BjaMWa {
  background-color: transparent;
  height: 83px;
  left: 2px;
  position: absolute;
  top: -1px;
  width: 972px;
}
.yourhonrcritc .group-136-XXIhox {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-137-XXIhox {
  background-color: transparent;
  height: 154px;
  left: 146px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-138-XXIhox {
  background-color: transparent;
  height: 154px;
  left: 436px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-139-XXIhox {
  background-color: transparent;
  height: 154px;
  left: 291px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-140-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 203px;
  position: absolute;
  top: 80px;
  width: 176px;
}
.yourhonrcritc .group-141-XXIhox {
  background-color: transparent;
  height: 154px;
  left: 582px;
  position: absolute;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-141-xVMSv5 {
  background-color: transparent;
  height: 179px;
  left: 40px;
  position: absolute;
  top: 80px;
  width: 143px;
}
.yourhonrcritc .group-158-P79SNn {
  background-color: transparent;
  background-image: url(../img/rectangle-27-2@2x.svg);
  background-size: 100% 100%;
  height: 221px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 362px;
}
.yourhonrcritc .group-169-62Livf {
  background-color: transparent;
  height: 92px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 969px;
}
.yourhonrcritc .group-17-2F4AKA {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-17-2JIgeY {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-17-JYSkw4 {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-17-lY9hfr {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-17-ubNvXP {
  background-color: transparent;
  height: 154px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 121px;
}
.yourhonrcritc .group-181-pptnM2 {
  background-color: transparent;
  height: 58px;
  left: 32px;
  position: absolute;
  top: 18px;
  width: 268px;
}
.yourhonrcritc .group-204-C61RwL {
  background-color: transparent;
  height: 19px;
  left: 41px;
  position: absolute;
  top: 399px;
  width: 341px;
}
.yourhonrcritc .group-205-C61RwL {
  background-color: transparent;
  height: 88px;
  left: 238px;
  position: absolute;
  top: 426px;
  width: 90px;
}
.yourhonrcritc .group-206-C61RwL {
  background-color: transparent;
  height: 22px;
  left: 32px;
  position: absolute;
  top: 559px;
  width: 358px;
}
.yourhonrcritc .group-210-C61RwL {
  background-color: transparent;
  height: 18px;
  left: 32px;
  position: absolute;
  top: 1896px;
  width: 148px;
}
.yourhonrcritc .group-216-C61RwL {
  background-color: var(--licorice-2);
  border-radius: 4.645746231079102px;
  height: 29px;
  left: 186px;
  position: absolute;
  top: 272px;
  width: 42px;
}
.yourhonrcritc .group-223-cRuLgm {
  background-color: transparent;
  height: 45px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 354px;
}
.yourhonrcritc .group-226-C61RwL {
  background-color: transparent;
  height: 152px;
  left: 24px;
  position: absolute;
  top: 1704px;
  width: 391px;
}
.yourhonrcritc .group-227-C61RwL {
  background-color: transparent;
  height: 784px;
  left: 37px;
  position: absolute;
  top: 819px;
  width: 384px;
}
.yourhonrcritc .group-230-C61RwL {
  background-color: transparent;
  background-image: url(../img/untitled-artwork-9-3@2x.svg);
  background-position: 50% 50%;
  background-size: cover;
  height: 88px;
  left: 99px;
  position: absolute;
  top: 430px;
  width: 88px;
}
.yourhonrcritc .group-255-C61RwL {
  background-color: transparent;
  height: 221px;
  left: 32px;
  position: absolute;
  top: 176px;
  width: 362px;
}
.yourhonrcritc .help-i70490203142524-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 44px;
}
.yourhonrcritc .hope-davis-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 567px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 64px;
}
.yourhonrcritc .hunter-doohan-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 85px;
}
.yourhonrcritc .i-phone-x-11-pro-dark-base-C61RwL {
  background-color: transparent;
  height: 39px;
  left: 40px;
  position: absolute;
  top: 0px;
  width: 334px;
}
.yourhonrcritc .i-phone-x-11-pro-light-base-OEJqEv {
  background-color: transparent;
  height: 39px;
  left: 0px;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 334px;
}
.yourhonrcritc .icons8-menu-240-3-1-eBci9D {
  background-color: transparent;
  height: 44px;
  left: 307px;
  object-fit: cover;
  position: absolute;
  top: 1px;
  width: 47px;
}
.yourhonrcritc .icons8-search-240-1-eBci9D {
  background-color: transparent;
  height: 33px;
  left: 254px;
  object-fit: cover;
  position: absolute;
  top: 8px;
  width: 36px;
}
.yourhonrcritc .instagram-new-1-l4XUbi {
  background-color: transparent;
  height: 35px;
  left: 53px;
  object-fit: cover;
  position: absolute;
  top: 2px;
  width: 35px;
}
.yourhonrcritc .intense-6Du0CD {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 85px;
}
.yourhonrcritc .it-feels-like-w-s-to-go-through-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 516px;
  width: 269px;
}
.yourhonrcritc .jen-chaney-new-york-magazine-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 316px;
  white-space: nowrap;
  width: 269px;
}
.yourhonrcritc .jimi-stanton-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 897px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 69px;
}
.yourhonrcritc .john-anderson-wsj-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  top: 632px;
  white-space: nowrap;
  width: 269px;
}
.yourhonrcritc .lamar-johnson-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 780px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 84px;
}
.yourhonrcritc .left-side-x6Uh93 {
  background-color: transparent;
  height: 19px;
  left: 19px;
  position: absolute;
  top: 11px;
  width: 48px;
}
.yourhonrcritc .licensing-i70490203142540-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 138px;
  width: 87px;
}
.yourhonrcritc .lili-kay-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 467px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 41px;
}
.yourhonrcritc .line-10-rHRxZV {
  background-color: transparent;
  height: 2px;
  left: 25px;
  position: absolute;
  top: 624px;
  width: 301px;
}
.yourhonrcritc .line-11-rHRxZV {
  background-color: transparent;
  height: 2px;
  left: 26px;
  position: absolute;
  top: 783px;
  width: 301px;
}
.yourhonrcritc .line-12-rHRxZV {
  background-color: transparent;
  height: 1px;
  left: 23px;
  position: absolute;
  top: 151px;
  width: 301px;
}
.yourhonrcritc .line-8-rHRxZV {
  background-color: transparent;
  height: 2px;
  left: 22px;
  position: absolute;
  top: 306px;
  width: 301px;
}
.yourhonrcritc .line-9-rHRxZV {
  background-color: transparent;
  height: 2px;
  left: 23px;
  position: absolute;
  top: 465px;
  width: 301px;
}
.yourhonrcritc .load-more-C61RwL {
  background-color: transparent;
  height: auto;
  left: 161px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1615px;
  width: 94px;
}
.yourhonrcritc .michael-stuhlbarg-PwxrQh {
  background-color: transparent;
  height: auto;
  left: 214px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100px;
}
.yourhonrcritc .mobielfooter-C61RwL {
  background-color: transparent;
  height: 500px;
  left: -1px;
  position: absolute;
  top: 2145px;
  width: 414px;
}
.yourhonrcritc .mobile-signal-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: 8px;
  width: 16px;
}
.yourhonrcritc .more-like-this-Uoyr1g {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 148px;
}
.yourhonrcritc .names-BjaMWa {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: absolute;
  top: 78px;
  width: 964px;
}
.yourhonrcritc .names-subPLN {
  background-color: transparent;
  height: 14px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 982px;
}
.yourhonrcritc .news-i70490203142525-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 166px;
  width: 54px;
}
.yourhonrcritc .notch-gHrsXL {
  background-color: transparent;
  height: 27px;
  left: 69px;
  position: absolute;
  top: -0px;
  width: 196px;
}
.yourhonrcritc .notch-x6Uh93 {
  background-color: transparent;
  height: 41px;
  left: 0px;
  position: absolute;
  top: -2px;
  width: 334px;
}
.yourhonrcritc .our-critics-i70490203142543-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 84px;
  width: 101px;
}
.yourhonrcritc .polygon-1-b4TqnM {
  background-color: transparent;
  height: 16px;
  left: 12px;
  position: absolute;
  top: 5px;
  width: 15px;
}
.yourhonrcritc .privacy-policy-i70490203142527-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 123px;
}
.yourhonrcritc .producer-edward-berger-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  top: 594px;
  width: 206px;
}
.yourhonrcritc .read-more-9mvq4V {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 748px;
  width: 96px;
}
.yourhonrcritc .read-more-J9FOxP {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 274px;
  width: 96px;
}
.yourhonrcritc .read-more-mA4jy1 {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 590px;
  width: 97px;
}
.yourhonrcritc .read-more-pqYjL8 {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 432px;
  width: 89px;
}
.yourhonrcritc .read-more-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 247px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 116px;
  width: 94px;
}
.yourhonrcritc .rectangle-15-32Zl94 {
  background-color: transparent;
  height: 156px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 122px;
}
.yourhonrcritc .rectangle-15-7ae0r9 {
  background-color: transparent;
  height: 156px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 122px;
}
.yourhonrcritc .rectangle-15-BcPu3D {
  background-color: transparent;
  height: 156px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 122px;
}
.yourhonrcritc .rectangle-15-XI4fAE {
  background-color: transparent;
  height: 156px;
  left: -0px;
  position: absolute;
  top: -1px;
  width: 122px;
}
.yourhonrcritc .rectangle-15-d2Abpb {
  background-color: transparent;
  height: 156px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -1px;
  width: 122px;
}
.yourhonrcritc .rectangle-30-UbU4Lz {
  background-color: var(--soapstone);
  border-radius: 20px;
  height: 26px;
  left: 0px;
  position: absolute;
  top: 32px;
  width: 264px;
}
.yourhonrcritc .rectangle-31-pptnM2 {
  background-color: var(--barossa);
  border-radius: 20px;
  height: 26px;
  left: 302px;
  position: absolute;
  top: 50px;
  width: 88px;
}
.yourhonrcritc .rectangle-67-C61RwL {
  background-color: var(--black);
  height: 105px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 414px;
}
.yourhonrcritc .rectangle-6dszjN {
  background-color: transparent;
  height: 11px;
  left: -0px;
  position: absolute;
  top: -0px;
  width: 20px;
}
.yourhonrcritc .rectangle-SMxSSZ {
  background-color: transparent;
  height: 7px;
  left: 1px;
  position: absolute;
  top: 2px;
  width: 17px;
}
.yourhonrcritc .richard-roeper-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: 28px;
  position: absolute;
  text-align: left;
  top: 158px;
  white-space: nowrap;
  width: 139px;
}
.yourhonrcritc .right-side-x6Uh93 {
  background-color: transparent;
  height: 18px;
  left: 262px;
  position: absolute;
  top: 7px;
  width: 59px;
}
.yourhonrcritc .rotten-tomatoes-i70490203142531-xVMSv5 {
  background-color: transparent;
  height: auto;
  left: 40px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 18px;
  width: 82px;
}
.yourhonrcritc .rt-logo-1-eBci9D {
  background-color: transparent;
  height: 1px;
  left: 45px;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 1px;
}
.yourhonrcritc .rt-logored-1-C61RwL {
  background-color: transparent;
  height: 46px;
  left: 31px;
  object-fit: cover;
  position: absolute;
  top: 48px;
  width: 91px;
}
.yourhonrcritc .sign-up-for-our-i70490203542598-UbU4Lz {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 266px;
}
.yourhonrcritc .sign-up-i70490203542602-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 317px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 54px;
  width: 61px;
}
.yourhonrcritc .social-1vVbzm {
  background-color: transparent;
  height: 39px;
  left: 195px;
  position: absolute;
  top: 216px;
  width: 195px;
}
.yourhonrcritc .span0-BXVoN5 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span0-UGXpuN {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span0-VTnDfX {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.yourhonrcritc .span0-ZpSxl9 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span0-an8xlM {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}
.yourhonrcritc .span0-lfhdfx {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span0-v7Pt26 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span1-BXVoN5 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span1-UGXpuN {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span1-VTnDfX {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
.yourhonrcritc .span1-ZpSxl9 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span1-an8xlM {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.yourhonrcritc .span1-lfhdfx {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span1-v7Pt26 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span2-BXVoN5 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span2-UGXpuN {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span2-ZpSxl9 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .span2-an8xlM {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 18px;
}
.yourhonrcritc .span2-v7Pt26 {
  color: rgba(255,249,252,1.0);
  font-family: 'Fira Sans', Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
.yourhonrcritc .submit-a-review-i70490203142542-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 55px;
  width: 113px;
}
.yourhonrcritc .synopsis-brian-pting-the-truth-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 21.6px;
  position: absolute;
  top: 627px;
  width: 337px;
}
.yourhonrcritc .terms-and-polic-i70490203142528-xzKrYV {
  background-color: transparent;
  height: auto;
  left: 1px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 123px;
}
.yourhonrcritc .time-dark-base-8yRYxe {
  background-color: transparent;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.yourhonrcritc .time-light-base-l2lQkM {
  background-color: transparent;
  border-radius: 28.501333236694336px;
  height: 19px;
  left: 0px;
  position: relative;
  top: 0px;
  width: 48px;
}
.yourhonrcritc .tomatometer-C61RwL {
  background-color: transparent;
  height: auto;
  left: 83px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 519px;
  width: auto;
}
.yourhonrcritc .top-critic-C61RwL {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1158px;
  width: auto;
}
.yourhonrcritc .top-critic-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1314px;
  width: auto;
}
.yourhonrcritc .top-critic-mzXdH9 {
  background-color: transparent;
  height: auto;
  left: 110px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1473px;
  width: auto;
}
.yourhonrcritc .topnav-C61RwL {
  background-color: transparent;
  height: 45px;
  left: 32px;
  position: absolute;
  top: 49px;
  width: 354px;
}
.yourhonrcritc .tv-ma-sSgalo {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 53px;
}
.yourhonrcritc .tvpopular-C61RwL {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 109px;
  width: auto;
}
.yourhonrcritc .twitter-1-l4XUbi {
  background-color: transparent;
  height: 39px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 35px;
}
.yourhonrcritc .union-C61RwL {
  background-color: transparent;
  height: 922px;
  left: 21px;
  position: absolute;
  top: 743px;
  width: 372px;
}
.yourhonrcritc .unsubscribe-at-i70490203542603-pptnM2 {
  background-color: transparent;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 139px;
  width: 202px;
}
.yourhonrcritc .untitled-artwork-5-2-Zzprxu {
  background-color: transparent;
  height: 89px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: -0px;
  width: 89px;
}
.yourhonrcritc .untitled-artwork-5-3-rHRxZV {
  background-color: transparent;
  height: 63px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 708px;
  width: 63px;
}
.yourhonrcritc .untitled-artwork-5-4-rHRxZV {
  background-color: transparent;
  height: 64px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 230px;
  width: 63px;
}
.yourhonrcritc .untitled-artwork-5-5-rHRxZV {
  background-color: transparent;
  height: 64px;
  left: 5px;
  object-fit: cover;
  position: absolute;
  top: 391px;
  width: 63px;
}
.yourhonrcritc .untitled-artwork-9-2-rHRxZV {
  background-color: transparent;
  height: 72px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 75px;
  width: 72px;
}
.yourhonrcritc .untitled-artwork-9-3-rHRxZV {
  background-color: transparent;
  height: 72px;
  left: -0px;
  object-fit: cover;
  position: absolute;
  top: 542px;
  width: 72px;
}
.yourhonrcritc .view-all-C61RwL {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1708px;
  width: 67px;
}
.yourhonrcritc .view-all-VMr6Om {
  background-color: transparent;
  height: auto;
  left: 328px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-decoration: underline;
  top: 1902px;
  width: 67px;
}
.yourhonrcritc .whats-the-tomat-i70490203142541-CexhX7 {
  background-color: transparent;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 28px;
  width: 164px;
}
.yourhonrcritc .wifi-1Kw3Q0 {
  background-color: transparent;
  height: 11px;
  left: 19px;
  position: absolute;
  top: 8px;
  width: 14px;
}
.yourhonrcritc .x-it-may-still-h-second-half-of-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 360px;
  width: 269px;
}
.yourhonrcritc .x10-episodes-sSgalo {
  background-color: transparent;
  height: auto;
  left: 127px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 102px;
}
.yourhonrcritc .x121520-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 116px;
  width: 68px;
}
.yourhonrcritc .x12320-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 748px;
  width: 58px;
}
.yourhonrcritc .x12720-J9FOxP {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 432px;
  width: 58px;
}
.yourhonrcritc .x12720-pqYjL8 {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 590px;
  width: 58px;
}
.yourhonrcritc .x12720-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 274px;
  width: 58px;
}
.yourhonrcritc .x2020-sSgalo {
  background-color: transparent;
  height: auto;
  left: 297px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 0px;
  width: 39px;
}
.yourhonrcritc .x22021-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  height: auto;
  left: 845px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 1710px;
  width: 79px;
}
.yourhonrcritc .x42-C61RwL {
  background-color: transparent;
  height: auto;
  left: 122px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 462px;
  width: 44px;
}
.yourhonrcritc .x70-Zzprxu {
  background-color: transparent;
  height: auto;
  left: 24px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  text-shadow: 0px 0px 5.944008827209473px rgba(0,0,0,1.0);;
  top: 36px;
  width: 41px;
}
.yourhonrcritc .x941-TsEUUy {
  background-color: transparent;
  height: 11px;
  left: 10px;
  position: absolute;
  top: 4px;
  width: 27px;
}
.yourhonrcritc .your-honor-C61RwL {
  background-color: transparent;
  color: var(--soapstone);
  font-family: 'Fira Sans', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: auto;
  left: 32px;
  letter-spacing: 0.00px;
  line-height: 27.3px;
  position: absolute;
  text-align: left;
  top: 135px;
  white-space: nowrap;
  width: 157px;
}
.yourhonrcritc .your-honor-is-c-impulses-of-the-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 676px;
  width: 269px;
}
.yourhonrcritc .your-honor-isnt-ad-at-times-you-rHRxZV {
  background-color: transparent;
  height: auto;
  left: 74px;
  letter-spacing: 0.00px;
  line-height: normal;
  position: absolute;
  text-align: left;
  top: 203px;
  width: 269px;
}
.yourhonrcritc .youtube-1-l4XUbi {
  background-color: transparent;
  height: 29px;
  left: 160px;
  object-fit: cover;
  position: absolute;
  top: 5px;
  width: 35px;
}
:root {
  --barossa: rgba(71,5,44,1.0);
  --black: rgba(6,2,5,1.0);
  --black-2: rgba(0,0,0,1.0);
  --licorice: rgba(21,21,21,1.0);
  --licorice-2: rgba(21,21,21,0.1);
  --soapstone: rgba(255,249,252,1.0);
  --soapstone-2: rgba(255,249,252,0.4);
  --stack: rgba(135,139,136,1.0);
  --white: rgba(255,255,255,1.0);
}
